{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  assign total_active_values = 0
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}


<div class="facet w-full lg:h-fit lg:max-w-[236px] lg:pr-9 fixed top-0 left-0 -translate-x-full md:-translate-x-facet-tl lg:translate-x-0 z-20 lg:sticky transition-all duration-500 lg:z-10 lg:top-48">
  <toggle-filter class="block lg:hidden absolute top-0 left-0 w-3full h-full -z-10 opacity-0 invisible">
    <button class="lg:before:content-none lg:bg-none before:content-empty before:bg-overlay before:top-0 before:left-0 before:fixed before:w-3full before:h-full before:backdrop-blur-sm before:-z-10">
      {% render 'icon-close', class: 'absolute top-4 right-4 text-btn-textHover w-3.5 h-3.5' %}
    </button>  
  </toggle-filter>
  <facet-filters-form class="block h-screen overflow-auto lg:h-fit bg-background max-w-facet lg:max-w-full">
    <form id="FacetFiltersForm" class="bg-background">
      {%- if results.terms -%}
        <input type="hidden" name="q" value="{{ results.terms | escape }}">
        <input name="options[prefix]" type="hidden" value="last">
      {%- endif -%}
      <div id="FacetsWrapperDesktop">
        <div class="flex flex-wrap lg:flex-nowrap justify-between gap-2 items-center border-b border-border p-4 lg:px-0 lg:pt-0">
          <span class="text-sm uppercase lg:capitalize font-semibold lg:text-2xl leading-none font-heading lg:font-bold" tabindex="-1">{{ 'sections.collection_template.active_filter' | t }}</span>
          <facet-remove class="block lg:hidden h-fit">
            <a href="{{ results_url }}" class="block text-sm leading-none uppercase lg:capitalize lg:text-base font-heading font-semibold dark-link lg:underline hover:font-semibold" rel="nofollow">
              {{ 'sections.collection_template.reset' | t }}
            </a>
          </facet-remove>
        </div>
        <div class="flex flex-wrap py-4 gap-1 px-4 lg:px-0 border-b border-border empty:!hidden js-filter" data-index="remove-facet">
          {%- for filter in results.filters -%}
            {%- for value in filter.active_values -%}
              <facet-remove class="inline-block h-6">
                <a href="{{ value.url_to_remove }}" class="inline-block h-full bg-background !text-secondary border border-secondary border-solid hover:border-primary-opacity-30 hover:bg-primary-opacity-30 overflow-hidden rounded-3xl" rel="nofollow">
                  <span class="flex items-center gap-2 px-4 py-1 h-full text-sm tracking-normal leading-none">
                    {% render 'icon-close', class: 'w-2 h-2' %}
                    {{ value.label | escape }}
                  </span>
                </a>
              </facet-remove>
            {%- endfor -%}
            {%- if filter.type == 'price_range' -%}
              {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                <facet-remove class="inline-block h-6">
                  <a href="{{ filter.url_to_remove }}" class="inline-block bg-background !text-secondary border border-secondary border-solid hover:border-primary-opacity-30 hover:bg-primary-opacity-30 h-full overflow-hidden rounded-3xl" rel="nofollow">
                    <span class="flex items-center gap-2 px-4 py-1 h-full text-sm tracking-normal leading-none">
                      {% if filter.min_value.value %}
                        {{ filter.min_value.value | money }}
                      {% else %}
                        {{ 0 | money }}
                      {% endif %}
                      - 
                      {% if filter.max_value.value %}
                        {{ filter.max_value.value | money }}
                      {% else %}
                        {{ filter.range_max | money }}
                      {% endif %}
                      {% render 'icon-close', class: 'w-2 h-2' %}
                    </span>
                  </a>
                </facet-remove>
              {%- endif -%}
            {%- endif -%}
          {%- endfor -%}
        </div>
        <accordion-toggle id="Details-sortby" class="px-4 lg:px-0 block lg:hidden border-b border-border last:border-none active">
          <div class="summary flex items-center gap-2 w-full cursor-pointer pt-4" aria-label="{{ 'products.facets.sort_by_labels' | t }}">
            <span class="text-lg leading-5 font-bold font-heading">{{ 'products.facets.sort_by_labels' | t }}</span>

          </div>
          <div id="Facet-sortby" class="details mb-4 js-filter" data-index="sortby">
            <ul class="block" role="list">
              {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
              {%- for option in results.sort_options -%}
                <li class="flex items-center mb-2 last:mb-0">
                  <label for="Filter-sortby-{{ forloop.index }}" class="relative flex items-center gap-2{% if value.count == 0 and value.active == false %} cursor-not-allowed opacity-50{% else %} cursor-pointer{% endif %}">
                    <input type="radio" name="sort_by" value="{{ option.value | escape }}" class="opacity-0 invisible absolute top-0 left-0"{% if option.value == sort_by %} checked{% endif %} id="Filter-sortby-{{ forloop.index }}">
                    <svg aria-hidden="true" class="icon icon-checkmark absolute w-2.5 h-2.5 top-1/2 left-2.5 -translate-x-1/2 -translate-y-1/2 opacity-0 invisible" width="0.625rem" height="0.625rem" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                    {% render 'icon-box', class: 'w-5 h-5' %}
                    <span aria-hidden="true" class="text-sm leading-4 dark-link transition-all">{{ option.name | escape }}</span>
                  </label>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </accordion-toggle>
        {%- for filter in results.filters -%}
          {%- assign total_active_values = total_active_values | plus: filter.active_values.size -%}
          {% case filter.type %}
            {% when 'boolean', 'list' %}
            <accordion-toggle id="Details-{{ forloop.index }}-{{ section.id }}" class="px-4 lg:px-0 block border-b border-border last:border-none active">
              <div class="summary flex items-center gap-2 w-full cursor-pointer pt-4" aria-label="{{ filter.label }} ({{ 'products.facets.filters_selected.one' | t: count: filter.active_values.size }})">
                <span class="text-lg leading-5 font-bold font-heading">{{ filter.label | escape }}</span>
              </div>
              <div id="Facet-{{ forloop.index }}-{{ section.id }}" class="details mb-4 js-filter" data-index="{{ forloop.index }}">
                <ul class="block" role="list">
                  {%- for value in filter.values -%}
                    <li class="flex items-center mb-2 last:mb-0">
                      <label for="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}" class="relative flex items-center gap-2{% if value.count == 0 and value.active == false %} cursor-not-allowed opacity-50{% else %} cursor-pointer{% endif %}">
                        <input type="checkbox" name="{{ value.param_name }}" value="{{ value.value }}" class="opacity-0 invisible absolute top-0 left-0" {% if value.active %}checked{% endif %}{% if value.count == 0 and value.active == false %}disabled{% endif %} id="Filter-{{ filter.param_name | escape }}-{{ forloop.index }}">
                        <svg aria-hidden="true" class="icon icon-checkmark absolute w-2.5 h-2.5 top-1/2 left-2.5 -translate-x-1/2 -translate-y-1/2 opacity-0 invisible" width="0.625rem" height="0.625rem" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                        {% render 'icon-box', class: 'w-5 h-5' %}
                        <span aria-hidden="true" class="text-sm leading-4 dark-link transition-all">{{ value.label | escape }} ({{ value.count }})</span>
                      </label>
                    </li>
                  {%- endfor -%}
                </ul>
              </div>
            </accordion-toggle>
            {% when 'price_range' %}
            {% liquid
              assign currencies_using_comma_decimals = 'ANG,ARS,BRL,BYN,BYR,CLF,CLP,COP,CRC,CZK,DKK,EUR,HRK,HUF,IDR,ISK,MZN,NOK,PLN,RON,RUB,SEK,TRY,UYU,VES,VND' | split: ','
              assign uses_comma_decimals = false
              if currencies_using_comma_decimals contains cart.currency.iso_code
                assign uses_comma_decimals = true
              endif
            %}
            <accordion-toggle id="Details-{{ forloop.index }}-{{ section.id }}" class="px-4 lg:px-0 block border-b border-border last:border-none active">
              <div class="summary flex items-center gap-2 w-full cursor-pointer pt-4">
                <span class="text-lg leading-5 font-bold font-heading">{{ filter.label | escape }}</span>
              </div>
              <div id="Facet-{{ forloop.index }}-{{ section.id }}" class="details mb-4 js-filter" data-index="{{ forloop.index }}">
                <price-range class="block">
                  <div class="range-slider relative h-8 md:h-12">
                    <input class="pointer-events-none absolute appearance-none w-full h-[3px] m-0 p-0 rounded-2xl border-[none] left-0 top-5 outline-0 bg-[#b3b3b3]"
                      name="{{ filter.min_value.param_name }}"
                      id="Filter-{{ filter.label | escape | append: 'min' }}-{{ forloop.index }}"
                      {% if filter.min_value.value %}
                        {% if uses_comma_decimals %}
                          value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                        {% else %}
                          value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"
                        {% endif %}
                      {% else %}  
                      value="0"
                      {% endif %}
                      type="range"
                      placeholder="0"
                      min="0"
                      max="{{ filter.range_max | money_without_currency | replace: ',', '' }}">
                    </input>
                    <input class="pointer-events-none absolute appearance-none w-full h-[3px] m-0 p-0 rounded-2xl border-[none] left-0 top-5 outline-0 bg-[#b3b3b3]"
                      name="{{ filter.max_value.param_name }}"
                      id="Filter-{{ filter.label | escape | append: 'max' }}-{{ forloop.index | plus: 1 }}"
                      {%- if filter.max_value.value -%}
                        {%- if uses_comma_decimals -%}
                          value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                        {%- else -%}
                          value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"
                        {% endif %}
                      {% else %}
                        value="{{ filter.range_max | money_without_currency | replace: ',', '' }}"  
                      {%- endif -%}
                      type="range"
                      placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                      min="0"
                      max="{{ filter.range_max | money_without_currency | round }}">
                    </input>
                    <div class="blackline !block h-[3px] w-full absolute z-0 left-0 top-5 bg-secondary"></div>
                  </div>
                  <div class="price-value-min-max flex items-center text-sm leading-none justify-between gap-x-2 pt-2">
                    <span class="price-item price-min">{{ cart.currency.symbol }}<span class="min">0</span></span>
                    <span class="price-item price-max">{{ cart.currency.symbol }}<span class="max">{{ filter.range_max | money_without_currency | round }}</span></span>
                  </div>
                </price-range>
              </div>
            </accordion-toggle>
          {% endcase %}
        {%- endfor -%}
      </div>
      <div class="p-4 border-b border-t border-border lg:hidden">
        <button type="button" class="submit-btn btn btn-2 border border-primary hover:border-border w-full p-3 text-sm leading-none uppercase">{{ 'products.facets.apply' | t }}</button>
      </div>
      {% if results.current_vendor or results.current_type %}
        <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
      {% endif %}
    </form>
  </facet-filters-form>
</div>