<div class="bg-primary text-background md:pt-2 lg:pt-6">
  <span class="md:grid-cols-1 md:col-span-1 md:grid-cols-2 md:col-span-2 md:grid-cols-3 md:col-span-3 md:grid-cols-4 md:col-span-4 md:grid-cols-5 md:col-span-5 md:grid-cols-6 md:col-span-6 
  lg:grid-cols-1 lg:col-span-1 lg:grid-cols-2 lg:col-span-2 lg:grid-cols-3 lg:col-span-3 lg:grid-cols-4 lg:col-span-4 lg:grid-cols-5 lg:col-span-5 lg:grid-cols-6 lg:col-span-6 hidden"></span>
  <div class="page-width">
    {%- if section.blocks.size > 0 -%}
      <div class="grid gap-y-6 gap-x-4 md:gap-y-12 lg:gap-4 grid-cols-{{ section.settings.col_per_row_mobile }} md:grid-cols-{{ section.settings.col_per_row_tablet }} lg:grid-cols-{{ section.settings.col_per_row_desktop }}">
        {%- for block in section.blocks -%}
          <{% unless block.type == 'link_list' %}div{% else %}accordion-toggle{% endunless %} data-block-id="{{ block.id }}" class="col-span-{{ block.settings.col_span_mobile }} md:col-span-{{ block.settings.col_span_tablet }} lg:col-span-{{ block.settings.col_span_desktop }} {% unless forloop.first %}md:justify-center{% endunless %} auto-cols-max {% if block.type == 'link_list' %}md:grid pb-8 pt-4 lg:py-0 border-b border-grey-250 md:0 md:border-none grid-rows-[min-content] auto-rows-min{% endif %}">
            {%- if block.settings.heading != blank -%}
              <div class="summary flex items-center justify-between gap-x-2 h-fit">
                <h4 class="text-h5 lg:text-h4 font-heading p-0 font-bold">{{- block.settings.heading | escape -}}</h4>
                {% if block.type == 'link_list' %}
                  <span class="icon-add md:!hidden">{%- render 'icon-chevron-down' -%}</span>
                  <span class="icon-minus md:!hidden">{%- render 'icon-chevron-up' -%}</span>
                {%- endif -%}
              </div>
            {%- endif -%}
            {%- case block.type -%}
              {%- when 'text' -%}
                <div class="footer-block__details-content block-text">
                  {%- if block.settings.menu != blank -%}
                    <ul class="details md:!mt-4 md:!max-h-full p-0 grid gap-y-4">
                      {%- for link in block.settings.menu.links -%}
                        <li>
                          {% if link.url contains 'help-center' %}
                            <span-link href="{{ link.url }}" class="cursor-pointer text-sm lg:text-base leading-none font-normal">
                              {{ link.title }}
                            </span-link>
                          {% else %}
                            <a href="{{ link.url }}" class="text-sm lg:text-base leading-none font-normal" title="{{ link.title }}">
                              {{ link.title }}
                            </a>
                          {% endif %}
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                  <ul class="mt-4 pl-[22px]">
                    {%- if block.settings.email != blank -%}
                      <li class="list-disc list-outside ">
                        <a href="mailto:{{ block.settings.email }}" class="font-normal text-sm md:text-base" title="{{ block.settings.email }}">
                          {{ block.settings.email }}
                        </a>
                      </li>
                    {%- endif -%}
                    {%- if block.settings.address != blank -%}
                      <li class="list-disc list-outside ">
                        <span class="font-normal text-sm md:text-base">
                          {{ block.settings.address }}
                        </span>
                      </li>
                    {%- endif -%}
                    {%- if block.settings.time_work != blank -%}
                      <li class="list-disc list-outside ">
                        <span class="font-normal text-sm md:text-base">
                          {{ block.settings.time_work }}
                        </span>
                      </li>
                    {%- endif -%}
                  </ul>
                  {%- if block.settings.payment_enable == true -%}
                    <ul class="hidden md:flex gap-2 items-center flex-wrap mt-8" role="list">
                      {% if block.settings.use_payment_default %}
                        {%- assign enabled_payment_types = shop.enabled_payment_types -%}
                      {% else %}
                        {%- assign enabled_payment_types = block.settings.custom_payment | remove: ' ' | split: ',' -%}
                      {% endif %}
                      {% for type in enabled_payment_types %}
                        <li class="list-payment__item">
                          {%- assign first_svg = type | payment_type_svg_tag: class: 'icon icon--full-color' | split: '<title' | first -%}
                          {%- assign last_svg = type | payment_type_svg_tag: class: 'icon icon--full-color' | split: '</title>' | last -%}
                          {{- first_svg -}}{{- last_svg -}}
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </div>
              {%- when 'link_list' -%}
                {%- if block.settings.menu != blank -%}
                  <ul class="details md:!mt-4 md:!max-h-full p-0 grid gap-y-4">
                    {%- for link in block.settings.menu.links -%}
                      <li>
                        {% if link.url contains 'help-center' %}
                          <span-link href="{{ link.url }}" class="cursor-pointer text-sm lg:text-base leading-none font-normal">
                            {{ link.title }}
                          </span-link>
                        {% else %}
                          <a href="{{ link.url }}" class="text-sm lg:text-base leading-none font-normal" title="{{ link.title }}">
                            {{ link.title }}
                          </a>
                        {% endif %}
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
            {%- endcase -%}
          </{% unless block.type == 'link_list' %}div{% else %}accordion-toggle{% endunless %}>
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>

  <div class="bg-grey-900 text-grey-300 py-10">
    <div class="page-width flex justify-center md:justify-between">
      <ul class="flex items-center gap-2 md:gap-5 justify-center mb-6 md:mb-0 order-1 md:order-2 " role="list">
        {%- assign enabled_payment_types = "paypal,visa,master,apple_pay" | remove: ' ' | split: ',' -%}
        {% for type in enabled_payment_types %}
          <li class="list-payment__item">
            {% if type == 'visa' %}
              {% render 'icon-visa' %}
            {% elsif type == 'master' %}
              {% render 'icon-mastercard' %}
            {% elsif type == 'paypal' %}
              {% render 'icon-paypal' %}
            {% else %}
              {% render 'icon-applepay' %}
            {% endif %}
          </li>
        {%- endfor -%}
      </ul>
      {%- if section.blocks.size > 0 -%}
        {% if  section.settings.copyright != blank %}
          <p class="text-sm text-background order-2 md:order-1">{{ section.settings.copyright }}</p>
        {% endif %}
      {% endif %}
    </div>
  </div>

  <div id="scrollToTop" class="hidden">
    {%- render 'icon-back' -%}
  </div>
</div>
{% style %}
  footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
    color: {{ section.settings.color_heading }};
  }
  footer a, footer ul li, footer span, footer p {
    color: {{ section.settings.color_content }};
  }
{% endstyle %}
{% schema %}
  {
    "name": "t:sections.footer.name",
    "tag": "footer",
    "blocks": [
      {
        "type": "link_list",
        "name": "t:sections.footer.blocks.link_list.name",
        "settings": [
          {
            "type": "header",
            "content": "Col span"
          },
          {
            "type": "range",
            "id": "col_span_desktop",
            "label": "Cols span desktop",
            "min": 1,
            "max": 6,
            "default": 1,
            "step": 1
          },
          {
            "type": "range",
            "id": "col_span_tablet",
            "label": "Cols span tablet",
            "min": 1,
            "max": 6,
            "default": 1,
            "step": 1
          },
          {
            "type": "range",
            "id": "col_span_mobile",
            "label": "Cols span mobile",
            "min": 1,
            "max": 6,
            "default": 1,
            "step": 1
          },
          {
            "type": "text",
            "id": "heading",
            "default": "Quick links",
            "label": "Heading"
          }, 
          {
            "type": "link_list",
            "id": "menu",
            "default": "footer",
            "label": "Menu",
            "info": "Displays only top-level menu items."
          }
        ]
      }, 
      {
        "type": "text",
        "name": "t:sections.footer.blocks.text.name",
        "settings": [
          {
            "type": "header",
            "content": "Col span"
          },
          {
            "type": "range",
            "id": "col_span_desktop",
            "label": "Cols span desktop",
            "min": 1,
            "max": 6,
            "default": 1,
            "step": 1
          },
          {
            "type": "range",
            "id": "col_span_tablet",
            "label": "Cols span tablet",
            "min": 1,
            "max": 6,
            "default": 1,
            "step": 1
          },
          {
            "type": "range",
            "id": "col_span_mobile",
            "label": "Cols span mobile",
            "min": 1,
            "max": 6,
            "default": 1,
            "step": 1
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }, 
          {
            "type": "range",
            "id": "image_width",
            "min": 100,
            "max": 200,
            "step": 1,
            "unit": "px",
            "label": "Image width",
            "default": 192
          },
          {
            "type": "text",
            "id": "heading",
            "default": "Heading",
            "label": "Heading"
          }, 
          {
            "type": "link_list",
            "id": "menu",
            "default": "footer",
            "label": "Menu",
            "info": "Displays only top-level menu items."
          },
          {
            "type": "text",
            "id": "email",
            "default": "support@customchic.co.uk",
            "label": "Email"
          },
          {
            "type": "text",
            "id": "address",
            "default": "120 Holland Rd, London W14 8BD",
            "label": "Address"
          }, 
          {
            "type": "text",
            "id": "time_work",
            "default": "Mon - Fri 9h00 - 18h00 London Time",
            "label": "Time work"
          },
          {
            "type": "header",
            "content": "Setting social media"
          },
          {
            "type": "checkbox",
            "id": "show_social",
            "default": false,
            "label": "t:sections.footer.settings.show_social.label"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "range",
        "id": "col_per_row_desktop",
        "label": "Cols per row desktop",
        "min": 1,
        "max": 6,
        "default": 6,
        "step": 1
      },
      {
        "type": "range",
        "id": "col_per_row_tablet",
        "label": "Cols per row tablet",
        "min": 1,
        "max": 6,
        "default": 6,
        "step": 1
      },
      {
        "type": "range",
        "id": "col_per_row_mobile",
        "label": "Cols per row mobile",
        "min": 1,
        "max": 6,
        "default": 6,
        "step": 1
      },
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "color",
        "id": "color_heading",
        "label": "Color heading",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "id": "color_content",
        "label": "Color content",
        "default": "#f5f5f5"
      },
      {
        "type": "header",
        "content": "Copyright section"
      },
      {
        "type": "textarea",
        "id": "copyright",
        "default": "© 2022 CustomChic™️. Powered by Shopify",
        "label": "Copyright"
      },
      {
        "type": "header",
        "content": "Setting payment"
      },
      {
        "type": "checkbox",
        "id": "payment_enable",
        "default": true,
        "label": "t:sections.footer.settings.payment_enable.label"
      },
      {
        "type": "checkbox",
        "id": "use_payment_default",
        "default": false,
        "label": "Use payment icons default"
      }
    ]
  }
{% endschema %}