<link rel="stylesheet" href="{{ 'template-cart.css' | asset_url }}" />

<div class="flex flex-wrap page-width gap-6 pb-10 lg:pb-25">
  <cart-items class="lg:max-w-[calc(100%_-_294px)] w-full inline-block{% if cart == empty %} hidden{% endif %}">
    <div class="shopping-cart-main">
      {%- render 'free-shipping' -%}
      <div class="border border-primary rounded-circle overflow-hidden">
        <form
          action="{{ routes.cart_url }}"
          class="cart__contents critical-hidden"
          method="post"
          id="cart">
          <div
            class="cart__items"
            id="main-cart-items"
            data-id="{{ section.id }}">
            <div class="js-contents">
              {%- if cart != empty -%}
                <table class="cart-items w-full">
                  <tbody>
                    {%- for item in cart.items -%}
                      <tr id="CartItem-{{ item.index | plus: 1 }}" class="block px-4 md:px-7.5 lg:px-12.5" data-key="{{ item.key }}">
                        <td
                          class="block md:table-cell w-full items-center border-b border-primary py-4 md:py-5 lg:py-10"
                          colspan="3"
                          scope="col">
                          <div class="flex items-center">
                            <div class="leading-[0]">
                              {% if item.image %}
                                <a
                                  href="{{ item.url }}"
                                  title="{{ item.title | escape }}"
                                  class="w-37.5 h-37.5 rounded-2xl overflow-hidden">
                                  {% if item.properties == empty %}
                                    <img src="{{ item.image | image_url: width: 200 }}"class="w-full h-full block object-cover"alt="{{ item.image.alt | escape }}"width="150"height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}">
                                  {% else %}
                                    {% for p in item.properties %}
                                      {% if p.first == '_customily-thumb' %}
                                        <img
                                          src="{{ p.last }}"
                                          class="w-full h-full block object-cover"
                                          alt="{{ item.title | escape }}" />
                                      {% endif %}
                                    {% endfor %}
                                  {% endif %}
                                </a>
                              {% endif %}
                            </div>
                            <div class="w-full ml-4 md:ml-6 lg:ml-9 pr-0 md:pr-4 lg:pr-6 md:max-w-[300px]">
                              {%- if settings.show_vendor -%}
                                <p class="caption-with-letter-spacing">{{ item.product.vendor }}</p>
                              {%- endif -%}
                              <div class="flex justify-between items-center gap-2">
                                <a href="{{ item.url }}" class="text-base lg:text-lg font-semibold truncate-line two-lines overflow-hidden">
                                  {% assign title = item.product.title | split: " -" %}
                                  {{ title[0] }}
                                </a>
                                <cart-remove-button
                                  class="block text-xs leading-none md:hidden"
                                  id="Remove-{{ item.index | plus: 1 }}"
                                  data-key="{{ item.key }}">
                                  <a
                                    href="{{ item.url_to_remove }}"
                                    class="block"
                                    aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                                    {% render 'icon-trash' %}
                                  </a>
                                </cart-remove-button>
                              </div>
                              {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
                                <dl class="my-1.5">
                                  {%- if item.product.has_only_default_variant == false -%}
                                    {%- for option in item.options_with_values -%}
                                      <div class="product-option flex text-grey-500 text-sm leading-4 gap-0.5 md:font-xs mb-1 last:mb-0">
                                        <dt class="font-light">{{ option.name }}:
                                        </dt>
                                        <dd class="font-normal">{{ option.value }}</dd>
                                      </div>
                                    {%- endfor -%}
                                  {%- endif -%}
                                </dl>
                                <div class="flex flex-wrap gap-2 justify-between items-center">
                                  <div class="flex flex-col md:flex-row md:items-center gap-2 md:gap-4">
                                    <span class="text-sm md:text-base text-grey-700 font-medium md:font-normal">{{ item.original_price | money }}</span>
                                    {% if item.variant.compare_at_price > item.variant.price %}
                                      <s class="mt-0.5 md:mt-0 md:ml-2 font-light text-xs md:text-sm text-[#b3b3b3]">{{ item.variant.compare_at_price | money }}</s>
                                    {% endif %}
                                    <div class="flex items-center justify-center text-sm text-grey-700 gap-1 lg:hidden">
                                      <span>{{ 'sections.cart.subtotal' | t }}:</span>
                                      {%- if item.original_line_price != item.final_line_price -%}
                                        <dl class="cart-item__discounted-prices">
                                          <dt class="visually-hidden">
                                            {{ 'products.product.price.regular_price' | t }}
                                          </dt>
                                          <dd>
                                            <s class="cart-item__old-price price price--end">
                                              {{ item.original_line_price | money }}
                                            </s>
                                          </dd>
                                          <dt class="visually-hidden">
                                            {{ 'products.product.price.sale_price' | t }}
                                          </dt>
                                          <dd class="price price--end">
                                            {{ item.final_line_price | money }}
                                          </dd>
                                        </dl>
                                      {%- else -%}
                                        <span class="price price--end">
                                          {{ item.original_line_price | money }}
                                        </span>
                                      {%- endif -%}
  
                                      {%- if item.variant.available and item.unit_price_measurement -%}
                                        <div class="unit-price caption">
                                          <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                                          {{ item.variant.unit_price | money }}
                                          <span aria-hidden="true">/</span>
                                          <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                                          {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                                            {{- item.variant.unit_price_measurement.reference_value -}}
                                          {%- endif -%}
                                          {{ item.variant.unit_price_measurement.reference_unit }}
                                        </div>
                                      {%- endif -%}
                                    </div>
                                  </div>
                                  <div class="flex items-center justify-between">
                                    <quantity-input class="flex items-center relative">
                                      <button
                                        class="w-7.5 h-7.5 rounded-full bg-[#f1f1f1] hover:bg-primary-opacity-30 text-secondary relative before:content-empty before:w-full before:h-full before:z-[1] before:absolute before:left-0 before:top-0"
                                        name="minus"
                                        type="button">
                                        {% render 'icon-chevron-down', class: 'w-2 h-2 text-secondary fill-text mx-auto' %}
                                      </button>
                                      <input
                                        class="appearance-none border-none bg-transparent text-grey-700 p-0.5 w-9 h-full text-sm font-normal text-center"
                                        type="number"
                                        name="updates[]"
                                        value="{{ item.quantity }}"
                                        min="0"
                                        aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                        id="Quantity-{{ item.index | plus: 1 }}"
                                        data-key="{{ item.key }}">
                                      <button
                                        class="w-7.5 h-7.5 rounded-full bg-[#f1f1f1] hover:bg-primary-opacity-30 text-secondary relative before:content-empty before:w-full before:h-full before:z-[1] before:absolute before:left-0 before:top-0"
                                        name="plus"
                                        type="button">
                                        {% render 'icon-chevron-up', class: 'w-2 h-2 text-secondary fill-text mx-auto' %}
                                      </button>
                                    </quantity-input>
                                  </div>
                                </div>
                              {%- endif -%}
                              {% if item.discounts %}
                                <ul
                                  class="discounts list-unstyled"
                                  role="list"
                                  aria-label="{{ 'customer.order.discount' | t }}">
                                  {%- for discount in item.discounts -%}
                                    <li class="flex gap-2 items-center text-xs md:text-sm">
                                      {%- render 'icon-discount', class: 'w-3 md:w-3.5 h-3 md:h-3.5' -%}
                                      {{ discount.title }}
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              {% endif %}
                            </div>
                          </div>
                        </td>
                        <td
                          class="hidden md:table-cell w-full items-center border-b border-primary py-4 md:py-5 lg:py-10"
                          colspan="1"
                          scope="col">
                          <div class="flex items-center justify-end gap-10">
                            <div class="text-grey-700 text-lg leading-none font-bold text-center">
                              {%- if item.original_line_price != item.final_line_price -%}
                                <dl class="cart-item__discounted-prices">
                                  <dt class="visually-hidden">
                                    {{ 'products.product.price.regular_price' | t }}
                                  </dt>
                                  <dd>
                                    <s class="cart-item__old-price price price--end">
                                      {{ item.original_line_price | money }}
                                    </s>
                                  </dd>
                                  <dt class="visually-hidden">
                                    {{ 'products.product.price.sale_price' | t }}
                                  </dt>
                                  <dd class="price price--end">
                                    {{ item.final_line_price | money }}
                                  </dd>
                                </dl>
                              {%- else -%}
                                <span class="price price--end">
                                  {{ item.original_line_price | money }}
                                </span>
                              {%- endif -%}

                              {%- if item.variant.available and item.unit_price_measurement -%}
                                <div class="unit-price caption">
                                  <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                                  {{ item.variant.unit_price | money }}
                                  <span aria-hidden="true">/</span>
                                  <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                                  {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                                    {{- item.variant.unit_price_measurement.reference_value -}}
                                  {%- endif -%}
                                  {{ item.variant.unit_price_measurement.reference_unit }}
                                </div>
                              {%- endif -%}
                            </div>
                            <div class="cart-item__quantity flex items-center justify-end">
                              <modal-opener class="block font-light text-secondary bg-[#eee] rounded-full p-2.5 text-xs text-center cursor-pointer" data-id="#Popup-Remove-{{ item.index | plus: 1 }}">
                                {% render 'icon-trash', class: 'w-5 h-5' %}
                              </modal-opener>
                              <modal-dialog class="hidden fixed w-full h-full bg-black bg-opacity-20 top-0 left-0 z-20" id="Popup-Remove-{{ item.index | plus: 1 }}">
                                <div class="text-center p-6 shadow-popup w-87.75 bg-background rounded-sm max-w-full absolute top-1/2 left-1/2 z-30 -translate-x-1/2 -translate-y-1/2">
                                  <span class="text-lg md:text-2xl font-heading block mt-5">{{ 'sections.cart.remove_item' | t }}</span>
                                  <p class="my-3 text-sm font-light text-grey-500">{{ 'sections.cart.content' | t }}</p>
                                  <cart-remove-button
                                    class="block mb-2 leading-[0]"
                                    id="Remove-{{ item.index | plus: 1 }}"
                                    data-key="{{ item.key }}">
                                    <a
                                      href="{{ item.url_to_remove }}"
                                      class="btn btn-2 border border-grey-50 hover:border-grey-250 w-full font-light text-xs py-2.5"
                                      aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                                      {{ 'sections.cart.remove' | t }}
                                    </a>
                                  </cart-remove-button>
                                  <span class="btn w-full font-light text-xs cursor-pointer py-2.5 border border-grey-250 hover:border-grey-50 close">
                                    {{ 'sections.cart.cancel' | t }}
                                  </span>
                                </div>
                              </modal-dialog>
                            </div>
                          </div>
                        </td>
                      </tr>
                    {%- endfor -%}
                  </tbody>
                </table>
              {%- endif -%}
            </div>
          </div>
        </form>
        <div class="cart__blocks">
            {% for block in section.blocks %}
              {%- case block.type -%}
                {%- when '@app' -%}
                {% render block %}
                {%- when 'subtotal' -%}
                <div class="js-contents" {{ block.shopify_attributes }}>
                  <div class="flex items-center justify-end p-4 lg:py-6 gap-20 md:px-7.5 lg:px-12.5">
                    <span class="m-0 text-base font-bold text-grey-700 font-heading uppercase">{{ 'sections.cart.total' | t }}</span>
                    <p class="m-0 text-base font-bold text-grey-700 font-heading uppercase totals__subtotal-value">
                      {{ cart.total_price | money }}
                      {%- if cart.cart_level_discount_applications.size > 0 -%}
                        <ul
                          class="discounts list-unstyled"
                          role="list"
                          aria-label="{{ 'customer.order.discount' | t }}">
                          {%- for discount in cart.cart_level_discount_applications -%}
                            <li class="discounts__discount discounts__discount--position">
                              {%- render 'icon-discount' -%}
                              {{ discount.title }}
                              (-{{ discount.total_allocated_amount | money }})
                            </li>
                          {%- endfor -%}
                        </ul>
                      {%- endif -%}
                    </p>
                  </div>
                </div>
              {%- endcase -%}
            {% endfor %}
          </div>
      </div>
    </div>
  </cart-items>
  <div class="cart-empty w-full bg-[#f2f2f2]{% unless cart == empty %} hidden{% endunless %}" id="cart-empty">
    <div class="py-18 text-center">
      {% render 'icon-shoppingcartfilled', class: 'mx-auto' %}
      <span class="font-medium text-sm mt-4 mb-12 max-w-62.5 lg:max-w-[700px] lg:text-[22px] font-heading text-grey-700 block mx-auto">{{ 'sections.cart.empty' | t }}</span>
      <a href="{{ routes.all_products_collection_url }}" class="btn btn-2 py-2.5 px-6 !inline-flex items-center gap-2 lg:gap-3">
        {% render 'icon-arrowleft' %}
        {{ 'general.continue_shopping' | t }}
      </a>
    </div>
  </div>
  <div class="inline-block pb-8 cart_footer w-full lg:max-w-[270px] lg:mt-[34px] sticky top-40{% if cart == empty %} hidden{% endif %}" id="main-cart-footer" data-id="{{ section.id }}">
    {%- if settings.show_cart_note -%}
      <cart-note class="cart__note field">
        <label for="Cart-note">{{ 'sections.cart.note' | t }}</label>
        <textarea
          class="text-area field__input"
          name="note"
          form="cart"
          id="Cart-note"
          placeholder="{{ 'sections.cart.note' | t }}">{{ cart.note }}</textarea>
      </cart-note>
    {%- endif -%}
    <div class="flex flex-wrap justify-center items-center w-full rounded-circle bg-primary-opacity-20 px-6 py-8 ">
        <button
          type="submit"
          id="checkout"
          class="btn text-xl leading-6 !block w-full !uppercase !px-2.5 !py-6 shadow-button max-w-132 !rounded-2xl mx-auto"
          name="checkout"
          {% if cart == empty %}
          disabled
          {% endif %}
          form="cart">
          {{ 'sections.cart.checkout' | t }}
        </button>
        <div class="w-full flex flex-wrap items-center justify-center md:justify-between lg:justify-center mt-9">
          <div class="text-xs font-normal w-full md:w-fit lg:w-full text-secondary lg:mb-2 text-center md:text-left lg:text-center"><strong class="text-primary">FREE SHIPPING</strong> on all U.S and EU orders over {{ settings.minimum_freeshipping | append: '00' | plus: 0 | money_without_trailing_zeros }}</div>
          <ul class="list list-payment flex items-center gap-4 w-full md:w-fit lg:w-full justify-center lg:justify-between" role="list">
            {%- assign enabled_payment_types = "visa,master,paypal" | remove: ' ' | split: ',' -%}
            {% for type in enabled_payment_types %}
              <li class="list-payment__item">
                {% if type == 'visa' %}
                  {% render 'icon-visa-cart', class: 'h-5 w-auto' %}
                {% elsif type == 'master' %}
                  {% render 'icon-mastercard-cart', class: 'h-11 w-auto' %}
                {% else %}
                  {% render 'icon-paypal-cart', class: 'h-18 w-auto' %}
                {% endif %}
              </li>
            {%- endfor -%}
          </ul>
        </div>
    </div>
  </div>
</div>
                                        
<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return(msie > 0 || trident > 0);
    }

    if (! isIE()) 
      return;
    

    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function(event) {
      document.querySelector('#cart').submit();
    });
  });
</script>
{% capture src_url %}{{ 'template-cart.js' | asset_url }}{% endcapture %}
{% render 'atom_script', src: src_url, priority: 'normal', type: "defer" %}

{% schema %}
  {
    "name": "Template Cart",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "blocks": [
      {
        "type": "subtotal",
        "name": "t:sections.main-cart-footer.blocks.subtotal.name",
        "limit": 1
      },
      {
        "type": "@app"
      }
    ]
  }
{% endschema %}