<link rel="stylesheet" href="{{ 'template-product.css' | asset_url }}" />
<link rel="stylesheet" href="{{ 'drop-caps.css' | asset_url }}" />
<script>window.product = {{ product | json }}</script>

<script id="product-card" type="text/html">
  <li class="swiper-slide max-w-1/2 md:max-w-1/3 lg:max-w-1/4 mr-0.5 lg:mr-2.5">
    {% render 'product-card', product: product, use_variant: true %}
  </li>
</script>

<section id="MainProduct-{{ section.id }}" class="page-width" data-section="{{ section.id }}">
  {%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
  {%- assign product_form_id = 'product-form-' | append: section.id -%}
  <div class="flex flex-wrap lg:flex-nowrap {% if product.media.size > 0 %}{% else %}{% endif %}">
    <div class="w-full lg:max-w-full overflow-hidden lg:sticky lg:top-48 h-fit">
      {% render 'product-media-gallery', product: product %}
    </div>
    <product-infor class="block w-full{% if product.media.size > 0 %} lg:max-w-[427px] lg:pl-8{% endif %} mt-6 lg:mt-0 px-4 md:px-0" id="ProductInfo-{{ section.id }}" data-product="{{ product.handle }}">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
          {%- when 'text' -%}
            <p class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}" {{ block.shopify_attributes }}>
              {{- block.settings.text -}}
            </p>
          {%- when 'title' -%}
            <h1 class="text-2xl leading-10 font-bold mb-2">{{ product.title | escape }}</h1>
            <span class="block w-fit capitalize text-xxs lg:text-xs leading-5 lg:leading-6 px-3 lg:px-4 text-black bg-primary-opacity-20 rounded-3xl">{{ product.type }}</span>
          {%- when 'price' -%}
            <div id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
              {%- render 'price', product: product, use_variant: true, show_badges: true, show: true -%}
            </div>
          {%- when 'quantity_selector' -%}
            <div class="hidden product-form__input product-form__quantity{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} product-form__quantity-top{% endif %}" {{ block.shopify_attributes }}>
              <label class="form__label" for="Quantity-{{ section.id }}">
                {{ 'products.product.quantity.label' | t }}
              </label>

              <quantity-input class="quantity">
                <button class="quantity__button no-js-hidden" name="minus" type="button">
                  <span class="visually-hidden">
                    {{- 'products.product.quantity.decrease' | t: product: product.title | escape -}}
                  </span>
                  {% render 'icon-minus' %}
                </button>
                <input class="quantity__input" type="number" name="quantity" id="Quantity-{{ section.id }}" min="1" value="1" form="{{ product_form_id }}">
                <button class="quantity__button no-js-hidden" name="plus" type="button">
                  <span class="visually-hidden">
                    {{- 'products.product.quantity.increase' | t: product: product.title | escape -}}
                  </span>

                </button>
              </quantity-input>
            </div>
          {%- when 'variant_picker' -%}
            {%- unless product.has_only_default_variant -%}
              <variant-radios class="block" id="variant-radios-{{ section.id }}" data-section="{{ section.id }}" data-url="{{ product.url }}" {% if update_url == false %} data-update-url="false"{% endif %} {{ block.shopify_attributes }}>
                <span  id="on-init"
                  data-current-option="{%- for option in product.options_with_values -%}{% if forloop.first == true %}{{ forloop.index0 }}{% endif %}{% endfor %}"
                  data-current-value="{%- for option in product.options_with_values -%}{% if forloop.first == true %}{%- for value in option.values -%}{% if forloop.first == true %}{{ value }}{% endif %}{% endfor %}{% endif %}{% endfor %}"></span>
                {%- for option in product.options_with_values -%}
                  {% if option.name == 'Product' %}
                    <fieldset class="js product-form__input block mb-5 lg:mb-10 selector-wrapper data-layer-{{ forloop.index0 }}" data-name="Product">
                      <legend class="form__label mb-2 flex gap-2 text-xl text-secondary leading-6 capitalize font-bold font-heading">{{ 'products.product.product_type' | t }}</legend>
                      <div class="option-values flex flex-wrap gap-5">
                        {%- for value in option.values -%}
                          <input
                          type="radio"
                          id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                          name="{{ option.name }}"
                          value="{{ value | escape }}"
                          data-index="{{ forloop.index0 }}"
                          class="absolute opacity-0 invisible option-item {% if option.selected_value == value %} selected {% endif %}"
                          form="{{ product_form_id }}"
                          {% if option.selected_value == value %}
                          checked
                          {% endif %}>
                          <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="option-item font-medium text-xs lg:text-base !leading-6 min-h-[35px] lg:min-h-[40px] bg-background text-secondary border border-black border-opacity-40 p-2 px-4 flex text-center rounded-3xl items-center justify-center option-size-label min-w-[130px] w-fit">
                            {{ value }}
                          </label>
                        {%- endfor -%}
                      </div>
                    </fieldset>
                  {% elsif option.name == 'Color' or option.name == 'Farbe' or option.name == 'Colore' or option.name == 'Couleur' %}
                    <fieldset class="js product-form__input block mb-5 lg:mb-12 option-color-wrapper data-layer-{{ forloop.index0 }}" data-name="Color">
                      <legend class="form__label mb-2 flex gap-2 text-xl text-secondary leading-6 capitalize font-bold font-heading">{{ option.name }}
                      </legend>
                      <div class="option-color flex flex-wrap gap-5">
                        {% assign values = '' %}
                        {% assign customColor = settings.swatch_color | split: ',' %}
                        {%- for value in option.values -%}
                          {%- unless values contains value -%}

                            {%- liquid
                              assign values = values | join: ','
                              assign values = values | append: ',' | append: value 
                              assign values = values | split: ','
                              assign bgColor =  value | split: ' ' | first | handle 
                            -%}
                            {% for item in customColor %}
                              {% assign labelColor = item | split: ':' | first %}
                              {% if value == labelColor %}
                                {% assign bgColor = item | split: ':' | last %}
                              {% endif %}
                            {% endfor %}
                            <input type="radio" class="absolute opacity-0 invisible option-item" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" data-index="{{ forloop.index0 }}" name="{{ option.name }}" value="{{ value | escape }}" form="{{ product_form_id }}"{% if option.selected_value == value %} checked{% endif %}>
                            <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                              class="color border-[3px] w-10 h-10 inline-block rounded-full border-[#F5F5F5] overflow-hidden option-item shadow-button"
                              data-product-id="{{ product.id }}"
                              data-variant-id="{{ variant.id }}"
                              data-option="{{ option.name | handleize }}"
                              data-value="{{ value | escape }}">
                              <span class="color w-full h-full !inline-block bg-center" style="background-color:{{ bgColor }}; background-image: url({{ value | handle | append: '.' | append: 'png' | asset_img_url: '150x' }});"></span>
                            </label>
                          {%- endunless -%}
                        {%- endfor -%}
                      </div>
                    </fieldset>
                  {% elsif option.name == 'Size' or option.name == 'Taille' or option.name == 'Taglia' or option.name == 'Größe' %}
                    <fieldset class="js product-form__input block mb-5 lg:mb-10 option-size-wrapper data-layer-{{ forloop.index0 }}" data-name="Size">
                      <div class="title-option-size flex justify-between items-baseline mb-2">
                        <legend class="form__label flex gap-2 text-xl text-secondary leading-6 capitalize font-bold font-heading">{{ 'products.product.size' | t }}
                        </legend>
                        <modal-opener data-id="#PopupModal-Sizeguide" class="size-popup flex gap-2 text-sm items-center underline underline-offset-2 cursor-pointer">{{ 'products.product.size_guide' | t }}</modal-opener>
                      </div>
                      {% render 'size-guide' %}
                      <div class="title-option-size-bt flex flex-wrap gap-5">
                        {%- for value in option.values -%}
                          <input class="absolute opacity-0 invisible option-item" type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" name="{{ option.name }}" data-index="{{ forloop.index0 }}" value="{{ value | escape }}" form="{{ product_form_id }}" {% if option.selected_value == value %}checked{% endif %}>
                          <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="option-item font-medium text-xs lg:text-base !leading-6 min-h-[35px] lg:min-h-[40px] bg-background text-secondary border border-black border-opacity-40 p-2 px-4 flex text-center rounded-3xl items-center justify-center option-size-label min-w-[80px] w-fit">
                            {{ value }}
                          </label>
                        {%- endfor -%}
                      </div>
                    </fieldset>
                  {% else %}
                    <fieldset class="js product-form__input block mb-5 lg:mb-10 selector-wrapper data-layer-{{ forloop.index0 }}">
                      <legend class="form__label mb-2 flex gap-2 text-xl text-secondary leading-6 capitalize font-bold font-heading">{{ option.name }}</legend>
                      <div class="option-values flex flex-wrap gap-5">
                        {%- for value in option.values -%}
                          <input type="radio" class="absolute opacity-0 invisible option-item {% if option.selected_value == value %} selected {% endif %}" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" name="{{ option.name }}" data-index="{{ forloop.index0 }}" value="{{ value | escape }}" form="{{ product_form_id }}"{% if option.selected_value == value %} checked{% endif %}>
                          <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" class="option-item font-medium text-xs lg:text-base !leading-6 min-h-[35px] lg:min-h-[40px] bg-background text-secondary border border-black border-opacity-40 p-2 px-4 flex text-center rounded-3xl items-center justify-center option-size-label min-w-[130px] w-fit">
                            {{ value }}
                          </label>
                        {%- endfor -%}
                      </div>
                    </fieldset>
                  {% endif %}
                {%- endfor -%}
                <script type="application/json">
                  {{ product.variants | json }}
                </script>
              </variant-radios>
            {%- endunless -%}
          {%- when 'buy_buttons' -%}
            <product-form class="block mb-12">
              <div class="product-form__error-message-wrapper" role="alert" hidden>
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                  <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2" />
                  <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7" />
                  <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white" />
                  <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                </svg>
                <span class="product-form__error-message"></span>
              </div>

              {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                <div class="product-form__buttons pb-20 lg:pb-24 relative">
                  <span class="btn-fake"></span>
                  <button type="submit" name="add" class="product-form__submit button button--full-width btn"{% if product.selected_or_first_available_variant.available == false %} disabled{% endif %}>
                    <span>
                      {%- if product.selected_or_first_available_variant.available -%}
                        {{ 'products.product.add_to_cart' | t }}
                      {%- else -%}
                        {{ 'products.product.sold_out' | t }}
                      {%- endif -%}
                    </span>
                    <div class="loading-overlay__spinner hidden">
                      <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66"  xmlns="http://www.w3.org/2000/svg">
                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </div>
                </button>
              </div>
              {% if block.settings.show_shipping %}
                {% assign priceFreeShip = settings.minimum_freeshipping | append: '00' | plus: 0 | money_without_trailing_zeros %}
                <div class="free-shipping flex justify-center items-center text-subtext text-base gap-2 text-center">
                  <span>{{ 'products.shipping_information.standard_html' | t: priceFreeShip: priceFreeShip }}</span>
                </div>
              {% endif %}
              {%- endform -%}
            </product-form>
            <script>
              document.addEventListener("DOMContentLoaded", function() {
                if (document.querySelector('.btn-fake')) {
                  const observer = new IntersectionObserver((entries, observer) => {
                    entries.forEach(entry => {
                      if (entry.intersectionRatio === 1) {
                        if (document.querySelector('#customily-cart-btn')) {
                          document.querySelector('#customily-cart-btn').classList.remove('sticky-button')
                        }
                      } else {
                        if (document.querySelector('#customily-cart-btn')) {
                          document.querySelector('#customily-cart-btn').classList.add('sticky-button')
                        }
                      }
                    })
                  },
                  {threshold: 1})
                  const elements = document.querySelectorAll('.btn-fake')
                  elements.forEach(element => {
                    observer.observe(element)
                  })
                }
                var observer2 = new IntersectionObserver(function(entries) {
                  if (entries[0].isIntersecting === true) {
                    if (document.querySelector('#customily-cart-btn')) {
                      document.querySelector('#customily-cart-btn').classList.add('btn-secondary')
                    }
                  } else {
                    if (document.querySelector('#customily-cart-btn')) {
                      document.querySelector('#customily-cart-btn').classList.remove('btn-secondary')
                    }
                  }
                },
                {threshold: 0});

                observer2.observe(document.querySelector('footer'));
              });
            </script>
        {%- endcase -%}
      {%- endfor -%}
    </product-infor>
  </div>

  {% assign popups = section.blocks | where: "type", "popup" %}
  {%- for block in popups -%}
    <modal-dialog
      id="PopupModal-{{ block.id }}"
      class="product-popup-modal"
      {{ block.shopify_attributes }}>
      <div
        role="dialog"
        aria-label="{{ block.settings.text }}"
        aria-modal="true"
        class="product-popup-modal__content"
        tabindex="-1">
        <button
          id="ModalClose-{{ block.id }}"
          type="button"
          class="product-popup-modal__toggle"
          aria-label="{{ 'accessibility.close' | t }}">
          {% render 'icon-close' %}
        </button>
        <div class="product-popup-modal__content-info">
          <h1 class="h2">{{ block.settings.page.title }}</h1>
          {{ block.settings.page.content }}
        </div>
      </div>
    </modal-dialog>
  {%- endfor -%}

  {%- liquid
    if product.selected_or_first_available_variant.featured_media
      assign seo_media = product.selected_or_first_available_variant.featured_media
    else
      assign seo_media = product.featured_media
    endif
  -%}

  <script type="application/ld+json">
    {
    "@context": "http://schema.org/",
          "@type": "Product",
          "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    {% if seo_media -%}
      "image": [
      {{ seo_media | image_url: width: seo_media.preview_image.width | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
    "@type": "Brand",
            "name": {{ product.vendor | json }}
    },
    "offers": [
    {%- for variant in product.variants -%}
      {
      "@type" : "Offer",
      {%- if variant.sku != blank -%}
        "sku": {{ variant.sku | json }},
      {%- endif -%}
      {%- if variant.barcode.size == 12 -%}
        "gtin12": {{ variant.barcode }},
      {%- endif -%}
      {%- if variant.barcode.size == 13 -%}
        "gtin13": {{ variant.barcode }},
      {%- endif -%}
      {%- if variant.barcode.size == 14 -%}
        "gtin14": {{ variant.barcode }},
      {%- endif -%}
      "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
      "price" : "{{ variant.price | money_without_currency | replace: ",", "." }}",
      "priceCurrency" : {{ cart.currency.iso_code | json }},
      "url" : {{ request.origin | append: variant.url | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
    ]
    }
  </script>
</section>
{% render 'cart-notification' %}

{% capture drop-caps %}{{ 'drop-caps.js' | asset_url }}{% endcapture %}
{% render 'atom_script', src: drop-caps, priority: 'normal', type: "defer" %}
  
{% capture src_url %}{{ 'template-product.js' | asset_url }}{% endcapture %}
{% render 'atom_script', src: src_url, priority: 'normal', type: "defer" %}

<script defer src="https://www.paypal.com/sdk/js?client-id=AU_cd7dYLlIPAIz-RBHxFBSFgVK6tKWcw3SagqaDo6hoc88m_cM9fhnXjz_riLj29WFqrFwxn2Xey_Gj&components=messages" data-namespace="PayPalSDK"></script>

{% schema %}
  {
    "name": "t:sections.main-product.name",
    "tag": "section",
    "class": "section",
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "text",
        "name": "t:sections.main-product.blocks.text.name",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "default": "Text block",
            "label": "t:sections.main-product.blocks.text.settings.text.label"
          },
          {
            "type": "select",
            "id": "text_style",
            "options": [
              {
                "value": "body",
                "label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
              },
              {
                "value": "subtitle",
                "label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
              },
              {
                "value": "uppercase",
                "label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
              }
            ],
            "default": "body",
            "label": "t:sections.main-product.blocks.text.settings.text_style.label"
          }
        ]
      },
      {
        "type": "title",
        "name": "t:sections.main-product.blocks.title.name",
        "limit": 1
      },
      {
        "type": "price",
        "name": "t:sections.main-product.blocks.price.name",
        "limit": 1
      },
      {
        "type": "quantity_selector",
        "name": "t:sections.main-product.blocks.quantity_selector.name",
        "limit": 1
      },
      {
        "type": "variant_picker",
        "name": "t:sections.main-product.blocks.variant_picker.name",
        "limit": 1,
        "settings": []
      },
      {
        "type": "buy_buttons",
        "name": "t:sections.main-product.blocks.buy_buttons.name",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_shipping",
            "default": true,
            "label": "Show shipping"
          }
        ]
      },
      {
        "type": "custom_liquid",
        "name": "t:sections.main-product.blocks.custom_liquid.name",
        "settings": [
          {
            "type": "liquid",
            "id": "custom_liquid",
            "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
            "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 2,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ]
  }
{% endschema %}