<link rel="stylesheet" href="{{ 'facet.css' | asset_url }}">
{% paginate collection.products by section.settings.products_per_page %}
  {% liquid
    assign products_count = paginate.current_page | times: section.settings.products_per_page
    if products_count > paginate.items
      assign products_count = paginate.items    
    endif
  %}
  <div class="w-full shadow-header">
    <div class="page-width flex items-center justify-between py-3 lg:mt-0">
      <span id="ProductCountNumberDisplay" class="text-sm lg:text-base !leading-5 font-light order-3">
        {% if paginate.items > 1 %}
          {{ 'sections.collection_template.product_count.other' | t: product_count: paginate.items }}
        {% else %}
          {{ 'sections.collection_template.product_count.one' | t: product_count: paginate.items }}
        {% endif %}
      </span>
      <toggle-filter class="block lg:hidden order-1">
        <button class="flex items-center uppercase lg:normal-case text-xs lg:text-base font-semibold lg:font-normal leading-none text-text font-heading lg:font-roboto cursor-pointer gap-2">{{ 'products.facets.filter_and_sort' | t }}</button>  
      </toggle-filter>
      <facet-filters-form class="hidden lg:flex items-center justify-end gap-4 sort-by order-2 lg:order-4" id="sortby-wrapper">
        <form id="FacetSortForm">
          <div class="flex items-center gap-4">
            <facet-remove class="hidden lg:block h-fit">
              <a href="{{ collection.url }}" class="block text-sm leading-none capitalize lg:text-base font-heading font-bold bright-link underline" rel="nofollow">
                {{ 'sections.collection_template.reset' | t }}
              </a>
            </facet-remove>
            {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
            <select name="sort_by" class="hidden opacity-0 invisible absolute -z-30" id="SortBy" aria-describedby="a11y-refresh-page-message">
              {%- for option in collection.sort_options -%}
                <option value="{{ option.value | escape }}" {% if option.value == sort_by %}selected="selected"{% endif %}>
                  {{ option.name | escape }}
                </option>
              {%- endfor -%}
            </select>
            <accordion-toggle class="inline-block relative cursor-pointer sort-by-accordion">
              <div class="summary flex items-center gap-2.5">
                <span class="inline-block">{{ 'products.facets.sort_by_labels' | t }}</span>
                {% render 'icon-caret', class: 'w-2.5 h-2.5' %}
              </div>
              <ul class="shadow-select details absolute w-max z-10 left-auto right-0 top-full bg-background p-2.5 border border-border">
                {%- for option in collection.sort_options -%}
                  <li class="cursor-pointer" data-value="{{ option.value | escape }}">{{ option.name | escape }}</li>
                {%- endfor -%}
              </ul>
            </accordion-toggle>
          </div>
    
          {% if collection.current_vendor or collection.current_type %}
            <input type="hidden" name="q" value="{{ collection.current_vendor }}{{ collection.current_type }}">
          {% endif %}
    
          {%- if collection.terms -%}
            <input type="hidden" name="q" value="{{ collection.terms | escape }}">
            <input name="options[prefix]" type="hidden" value="last">
          {%- endif -%}
        </form>
      </facet-filters-form>
    </div>
  </div>
  <div class="page-width flex flex-wrap pb-5 pt-10 lg:pt-12 lg:pb-20" data-id="{{ section.id }}" id="ProductGridContainer">
    {% render 'facet', results: collection %}
    
    <div class="w-full lg:max-w-[calc(100%_-_236px)] transition-all duration-500 lg:ml-auto" data-total-pages="{{ paginate.pages }}" data-pagination="{{ products_per_page }}" data-current-page="{{ paginate.current_page }}"  id="product-grid">
      <div id="main-collection-product" class="grid grid-cols-2 md:grid-cols-3 gap-x-4 gap-y-10 transition-all duration-500">
        {% assign listIncludeProduct = '' %}
        {% if collection.products.size > 0 %}
          {% for product in collection.products %}
            {% assign lastKey = product.handle | split: '-' | last %}
            {% unless listIncludeProduct contains lastKey %}
              {%- render 'product-card', product: product -%}
              {% assign listIncludeProduct = listIncludeProduct | append: lastKey | append: ',' %}
            {% endunless %}
          {% endfor %}
        {% else %}
          {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: "underlined-link link" }}
        {% endif %}
      </div>
      <collection-loadmore data-click-loadmore="false" class="block mt-4 lg:mt-16 text-center{% if paginate.pages <= 1 %} hidden{% endif %} ">
        <span data-href="{{ paginate.next.url }}" class="btn btn-2 border border-primary hover:border-border load-more_btn py-3 px-5">{{- 'sections.collection_template.load_more' | t -}}</span>

        <span id="ProductCountNumber" class="hidden">
          {% if paginate.items > 1 %}
            {{ 'sections.collection_template.product_count.other' | t: product_count: paginate.items }}
          {% else %}
            {{ 'sections.collection_template.product_count.one' | t: product_count: paginate.items }}
          {% endif %}
        </span>
        <div id="ProductCountLoadmore" class="viewing-currently-product text-sm text-text mt-3">
          {{ 'sections.collection_template.current_view_html' | t: all_products_count: paginate.items , products_count: products_count }}
        </div>
      </collection-loadmore>
    </div>
  </div>
{% endpaginate %}

{% capture facet %}{{ 'facet.js' | asset_url }}{% endcapture %}
{% render 'atom_script', src: facet, priority: 'normal', type: "defer" %}

{% schema %}
  {
    "name": "Collection",
    "settings": [
      {
        "type": "range",
        "id": "products_per_page",
        "min": 8,
        "max": 50,
        "step": 1,
        "default": 20,
        "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
      }
    ]
  }
{% endschema %}