{% comment %}
  Renders a product media gallery. Should be used with 'media-gallery.js'
  Also see 'product-media-modal'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant
  - is_duplicate: {Boolean} Prevents rendering uneeded elements and duplicate ids for subsequent instances

  Usage:
  {% render 'product-media-gallery', is_duplicate: true %}
{% endcomment %}

{%- liquid
  if section.settings.hide_variants and variant_images.size == product.media.size
    assign single_media_visible = true
  endif

  assign media_count = product.media.size
  if section.settings.hide_variants and media_count > 1 and variant_images.size > 0
    assign media_count = media_count | minus: variant_images.size | plus: 1
  endif

  if media_count == 1 or single_media_visible
    assign single_media_visible_mobile = true
  endif

  if media_count == 0 or single_media_visible_mobile or section.settings.mobile_thumbnails == 'show' or section.settings.mobile_thumbnails == 'columns' and media_count < 3
    assign hide_mobile_slider = true
  endif

  if section.settings.media_size == 'large'
    assign media_width = 0.65
  elsif section.settings.media_size == 'medium'
    assign media_width = 0.55
  elsif section.settings.media_size == 'small'
    assign media_width = 0.45
  endif

  assign id_append = ''
  if is_duplicate
    assign id_append = '-duplicate'
  endif
-%}

<media-gallery class="flex gap-5">
  {%- if media_count > 1 -%}
    <div class="swiper sub-slider-media !px-4 md:!px-0 max-w-1/5 w-full overflow-hidden" thumbsSlider="" data-infor-swiper='{
        "direction": "vertical",
        "freeMode": true,
        "watchSlidesProgress": true,
        "spaceBetween": 10,
        "slideToClickedSlide": true,
        "slidesPerView": 4
      }'>
      <ul class="flex flex-col swiper-wrapper">
        {%- if featured_media != null -%}
          <li class="swiper-slide !h-fit border-solid border-4 border-transparent rounded-[15px] overflow-hidden">
            {% render 'product-thumbnail', media: featured_media, lazy_load: true, thumb: true %}
          </li>
        {%- endif -%}
        {%- for media in product.media -%}
          {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
            <li class="swiper-slide !h-fit border-solid border-4 border-transparent rounded-[15px] overflow-hidden">
              {% render 'product-thumbnail', media: media, lazy_load: true, thumb: true %}
            </li>
          {%- endunless -%}
        {%- endfor -%}
      </ul>

    </div>
  {%- endif -%}
  <div class="relative swiper main-slider-media overflow-hidden max-w-4/5 w-full h-fit aspect-1 rounded-[25px]" data-infor-swiper='{
      "modules": ["Navigation", "Thumbs"],
      "direction": "vertical",
      "slidesPerView": 1,
      "spaceBetween": 10,
      "allowTouchMove": false,
      "navigation": {
        "nextEl": ".next-main-{{ section.id }}",
        "prevEl": ".prev-main-{{ section.id }}"
      }
    }'>
    <ul class="flex flex-col swiper-wrapper">
      {%- if product.selected_or_first_available_variant.featured_media != null -%}
        {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
        <li class="swiper-slide !h-fit">
          {%- assign media_position = 1 -%}
          {% render 'product-thumbnail', media: featured_media, lazy_load: false %}
        </li>
      {%- endif -%}
      {%- for media in product.media -%}
        {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
          <li class="swiper-slide !h-fit">
            {%- liquid
              assign media_position = media_position | default: 0 | plus: 1
              assign lazy_load = false
              if media_position > 1
                assign lazy_load = true
              endif
            -%}
            {% render 'product-thumbnail', media: media, lazy_load: true, thumb: false %}
          </li>
        {%- endunless -%}
      {%- endfor -%}
    </ul>
    <wishlist-button class="absolute bottom-4 right-4 z-20 flex justify-center border-primary border items-center bg-background text-primary w-8 h-8 lg:w-15 lg:h-15 rounded-full overflow-hidden cursor-pointer" data-product-handle="{{ product.handle }}">
      {% render 'icon-heart', class: "w-4 h-4 lg:w-7 lg:h-7" %}
    </wishlist-button>
    <button
      type="button"
      class="prev-main-{{ section.id }} absolute top-[calc(50%_-_24px)] -translate-y-1/2 right-2.5 z-10 h-10 w-10 hover:bg-backgorund disabled:!opacity-0 disabled:!bg-background-opacity-20 leading-none cursor-pointer transition-all flex items-center justify-center p-0 rounded-full border-0 bg-background-opacity-80 disabled:!bg-opacity-75 disabled:text-text"
      name="previous"
      aria-label="{{ 'accessibility.previous_slide' | t }}">
      {%- render 'icon-chevron-up' -%}</button>
    <button
      type="button"
      class="next-main-{{ section.id }} absolute top-[calc(50%_+_24px)] -translate-y-1/2 right-2.5 z-10 h-10 w-10 hover:bg-backgorund disabled:!opacity-0 disabled:!bg-background-opacity-20 leading-none cursor-pointer transition-all flex items-center justify-center p-0 rounded-full border-0 bg-background-opacity-80 disabled:!bg-opacity-75 disabled:text-text"
      name="next"
      aria-label="{{ 'accessibility.next_slide' | t }}">{%- render 'icon-chevron-down' -%}</button>
  </div>
</media-gallery>
<div class="free-shipping flex justify-center items-center text-subtext text-base gap-2.5 mt-4">
  {% render 'icon-truck', class: 'text-primary' %}<span class="text-sm lg:text-base font-medium leading-6">Estimated delivery time: <strong class="text-base lg:text-lg leading-6">Aug 23 - Aug 25</strong></span>
</div>