{% comment %}
  Renders a product media gallery. Should be used with 'media-gallery.js'
  Also see 'product-media-modal'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant
  - is_duplicate: {Boolean} Prevents rendering uneeded elements and duplicate ids for subsequent instances

  Usage:
  {% render 'product-media-gallery', is_duplicate: true %}
{% endcomment %}

{%- liquid
  if section.settings.hide_variants and variant_images.size == product.media.size
    assign single_media_visible = true
  endif

  assign media_count = product.media.size
  if section.settings.hide_variants and media_count > 1 and variant_images.size > 0
    assign media_count = media_count | minus: variant_images.size | plus: 1
  endif

  if media_count == 1 or single_media_visible
    assign single_media_visible_mobile = true
  endif

  if media_count == 0 or single_media_visible_mobile or section.settings.mobile_thumbnails == 'show' or section.settings.mobile_thumbnails == 'columns' and media_count < 3
    assign hide_mobile_slider = true
  endif

  if section.settings.media_size == 'large'
    assign media_width = 0.65
  elsif section.settings.media_size == 'medium'
    assign media_width = 0.55
  elsif section.settings.media_size == 'small'
    assign media_width = 0.45
  endif
-%}

<media-gallery class="flex flex-col lg:flex-row gap-5">
  {%- if media_count > 1 -%}
    <div class="swiper sub-slider-media lg:max-w-1/6 w-full overflow-hidden order-2 lg:order-1" thumbsSlider="" data-infor-swiper='{
        "freeMode": true,
        "watchSlidesProgress": true,
        "slideToClickedSlide": true,
        "slidesPerView": 6,
        "spaceBetween": 16,
        "breakpoints": {
          "1024": {
            "slidesPerView": 6,
            "direction": "vertical"
          }
        }
      }'>
      <ul class="flex lg:flex-col swiper-wrapper">
        {%- if featured_media != null -%}
          <li class="swiper-slide !h-fit border-solid border-4 border-transparent rounded-[15px] overflow-hidden">
            {% render 'product-thumbnail', media: featured_media, lazy_load: true, thumb: true %}
          </li>
        {%- endif -%}
        {%- for media in product.media -%}
          {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
            <li class="swiper-slide !h-fit border-solid border-4 border-transparent rounded-[15px] overflow-hidden">
              {% render 'product-thumbnail', media: media, lazy_load: true, thumb: true %}
            </li>
          {%- endunless -%}
        {%- endfor -%}
      </ul>

    </div>
  {%- endif -%}
  <div class="relative swiper main-slider-media overflow-hidden lg:max-w-5/6 w-full h-fit aspect-1 rounded-[25px] order-1 lg:order-2" data-infor-swiper='{
      "modules": ["Navigation", "Thumbs"],
      "slidesPerView": 1,
      "allowTouchMove": false,
      "navigation": {
        "nextEl": ".next-main-{{ section.id }}",
        "prevEl": ".prev-main-{{ section.id }}"
      },
      "breakpoints": {
        "1024": {
          "direction": "vertical"
        }
      }
    }'>
    <ul class="flex lg:flex-col swiper-wrapper">
      {%- if product.selected_or_first_available_variant.featured_media != null -%}
        {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
        <li class="swiper-slide !h-fit">
          {%- assign media_position = 1 -%}
          {% render 'product-thumbnail', media: featured_media, lazy_load: false %}
        </li>
      {%- endif -%}
      {%- for media in product.media -%}
        {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
          <li class="swiper-slide !h-fit">
            {%- liquid
              assign media_position = media_position | default: 0 | plus: 1
              assign lazy_load = false
              if media_position > 1
                assign lazy_load = true
              endif
            -%}
            {% render 'product-thumbnail', media: media, lazy_load: true, thumb: false %}
          </li>
        {%- endunless -%}
      {%- endfor -%}
    </ul>
    <wishlist-button class="absolute bottom-4 right-4 z-20 flex justify-center border-primary border items-center bg-background text-primary w-8 h-8 lg:w-15 lg:h-15 rounded-full overflow-hidden cursor-pointer" data-product-handle="{{ product.handle }}">
      {% render 'icon-heart', class: "w-4 h-4 lg:w-7 lg:h-7" %}
    </wishlist-button>
    <button
      type="button"
      class="prev-main-{{ section.id }} absolute top-1/2 left-4 lg:top-[calc(50%_-_24px)] -translate-y-1/2 lg:left-auto lg:right-2.5 z-10 h-10 w-10 flex items-center justify-center rounded-full transition-all duration-200 bg-[#EEE] text-secondary hover:bg-primary-opacity-30 overflow-hidden disabled:hidden"
      name="previous"
      aria-label="{{ 'accessibility.previous_slide' | t }}">
      {%- render 'icon-chevron-up', class: 'hidden lg:block' -%}
      {%- render 'icon-chevron-left', class: 'lg:hidden block' -%}
    </button>
    <button
      type="button"
      class="next-main-{{ section.id }} absolute top-1/2 right-4 lg:top-[calc(50%_+_24px)] -translate-y-1/2 lg:right-2.5 z-10 h-10 w-10 flex items-center justify-center rounded-full transition-all duration-200 bg-[#EEE] text-secondary hover:bg-primary-opacity-30 overflow-hidden disabled:hidden"
      name="next"
      aria-label="{{ 'accessibility.next_slide' | t }}">
      {%- render 'icon-chevron-right', class: 'lg:hidden block' -%}
      {%- render 'icon-chevron-down', class: 'hidden lg:block' -%}
    </button>
  </div>
</media-gallery>
<div class="free-shipping flex justify-center items-center text-subtext text-base gap-2.5 mt-4">
  {% assign secondDelivery = settings.delivery | times: 86400 %}
  {% assign thirdDelivery = settings.delivery_fluctuation | times: 86400 %}
  {% assign currentDate = "now" | date: "%s" | plus: secondDelivery %} 
  {% assign futureDate = currentDate | date: "%b %d" %}
  {% assign lastFutureDate = currentDate | plus: thirdDelivery | date: "%b %d" %}

  {% render 'icon-truck', class: 'text-primary' %}<span class="text-xs lg:text-sm font-medium leading-6">Estimated delivery time: <strong class="text-xs lg:text-sm leading-6">{{ futureDate | date: "%b %d, %Y" }} - {{ lastFutureDate | date: "%b %d, %Y" }}</strong></span>
</div>