<modal-dialog id="PopupModal-Sizeguide" class="hidden fixed top-0 left-0 bg-black bg-opacity-20 w-full h-full z-20">
  <div class="absolute p-4 lg:p-16 bg-background h-fit left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 max-h-[calc(100vh_-_32px)] w-full max-w-[calc(100vw_-_32px)] lg:max-w-4xl scrollbar-thin overflow-y-auto">
    <div class="size-guide-section">
      <span class="close absolute top-6 right-6 cursor-pointer">{% render 'icon-close' %}</span>
      <div class="main-size">
        <div class="text-base font-semibold font-montserrat uppercase lg:text-xl text-center text-text">{{ 'products.product.size_guide_popup.find_your_size' | t }}</div>

        <tabs-component class="relative block mt-3">
          <div class="flex items-center justify-center flex-wrap gap-4 pb-3 border-b border-solid border-grey-100">
            <div class="tab-heading flex btn p-3 active" data-id="{{ section.id }}-tshirt">
              <span>T-shirt</span>
            </div>
            <div class="tab-heading flex btn p-3" data-id="{{ section.id }}-sweatshirt">
              <span>Sweatshirt</span>
            </div>
            <div class="tab-heading flex btn p-3" data-id="{{ section.id }}-hoodie">
              <span>Hoodie</span>
            </div>
            <div class="tab-heading flex btn p-3" data-id="{{ section.id }}-pillow">
              <span>Pillow</span>
            </div>
          </div>

          <div class="text-base font-semibold font-montserrat uppercase lg:text-xl text-center text-text mt-4 lg:mt-6">{{ 'products.product.size_guide_popup.size_chart'| t }}</div>

          <div class="tab-detail py-6" data-id="{{ section.id }}-tshirt">
            <caculator-size class="block pb-10 border-b border-border mb-4" data-unit="in">
              <ul class="size-unit flex text-center bg-border-secondary w-fit mx-auto rounded-full mt-4 mb-8 lg:mt-6 lg:mb-10 overflow-hidden">
                <li class="cursor-pointer text-center text-xs lg:text-xl uppercase rounded-full py-1 lg:py-2 lg:px-11 min-w-[76px] transition-all change-resize change-resize-in active">in</li>
                <li class="cursor-pointer text-center text-xs lg:text-xl uppercase rounded-full py-1 lg:py-2 lg:px-11 min-w-[76px] transition-all change-resize change-resize-cm">cm</li>
              </ul>
              <table tabindex="0" class="w-full text-center">
                <thead>
                  <tr>
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="col">{{ 'products.product.size_guide_popup.size' | t }}</th>
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="col">{{ 'products.product.size_guide_popup.length' | t }}</th>
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="col">{{ 'products.product.size_guide_popup.width' | t }}</th>
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="col">{{ 'products.product.size_guide_popup.sleeve' | t }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="odd:bg-[#F2F2F2]">
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="row">s</th>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="28">28</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="18">18</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="16.75">16.75</td>
                  </tr>
                  <tr class="odd:bg-[#F2F2F2]">
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="row">m</th>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="29">29</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="20">20</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="17.875">17.875</td>

                  </tr>
                  <tr class="odd:bg-[#F2F2F2]">
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="row">l</th>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="30">30</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="22">22</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="19.125">19.125</td>

                  </tr>
                  <tr class="odd:bg-[#F2F2F2]">
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="row">xl</th>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="31">31</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="24">24</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="20.375">20.375</td>

                  </tr>
                  <tr class="odd:bg-[#F2F2F2]">
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="row">xxl</th>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="32">32</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="26">26</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="21.625">21.625</td>

                  </tr>
                  <tr class="odd:bg-[#F2F2F2]">
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="row">3xl</th>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="33">33</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="28">28</td> 
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="22.75">22.75</td> 
                  </tr>
                </tbody>
              </table>
            </caculator-size>
          </div>
          <div class="tab-detail hidden py-6" data-id="{{ section.id }}-sweatshirt">
            <caculator-size class="block pb-10 border-b border-border mb-4" data-unit="in">
              <ul class="size-unit flex text-center bg-border-secondary w-fit mx-auto rounded-full mt-4 mb-8 lg:mt-6 lg:mb-10 overflow-hidden">
                <li class="cursor-pointer text-center text-xs lg:text-xl uppercase rounded-full py-1 lg:py-2 lg:px-11 min-w-[76px] transition-all change-resize change-resize-in active">in</li>
                <li class="cursor-pointer text-center text-xs lg:text-xl uppercase rounded-full py-1 lg:py-2 lg:px-11 min-w-[76px] transition-all change-resize change-resize-cm">cm</li>
              </ul>
              <table tabindex="0" class="w-full text-center">
                <thead>
                  <tr>
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="col">{{ 'products.product.size_guide_popup.size' | t }}</th>
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="col">{{ 'products.product.size_guide_popup.length' | t }}</th>
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="col">{{ 'products.product.size_guide_popup.width' | t }}</th>
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="col">{{ 'products.product.size_guide_popup.sleeve' | t }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="odd:bg-[#F2F2F2]">
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="row">s</th>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="27">27</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="20">20</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="33.5">33.5</td>
                  </tr>
                  <tr class="odd:bg-[#F2F2F2]">
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="row">m</th>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="28">28</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="22">22</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="34.5">34.5</td>

                  </tr>
                  <tr class="odd:bg-[#F2F2F2]">
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="row">l</th>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="29">29</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="24">24</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="35.5">35.5</td>

                  </tr>
                  <tr class="odd:bg-[#F2F2F2]">
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="row">xl</th>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="30">30</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="26">26</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="36.5">36.5</td>

                  </tr>
                  <tr class="odd:bg-[#F2F2F2]">
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="row">xxl</th>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="31">31</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="28">28</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="37.5">37.5</td>

                  </tr>
                  <tr class="odd:bg-[#F2F2F2]">
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="row">3xl</th>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="32">32</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="30">30</td> 
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="38.5">38.5</td> 
                  </tr>
                  <tr class="odd:bg-[#F2F2F2]">
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="row">4xl</th>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="33">33</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="32">32</td> 
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="39.5">39.5</td> 
                  </tr>
                  <tr class="odd:bg-[#F2F2F2]">
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="row">5xl</th>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="34">34</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="34">34</td> 
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="40.5">40.5</td> 
                  </tr>
                </tbody>
              </table>
            </caculator-size>
          </div>
          <div class="tab-detail hidden py-6" data-id="{{ section.id }}-hoodie">
            <caculator-size class="block pb-10 border-b border-border mb-4" data-unit="in">
              <ul class="size-unit flex text-center bg-border-secondary w-fit mx-auto rounded-full mt-4 mb-8 lg:mt-6 lg:mb-10 overflow-hidden">
                <li class="cursor-pointer text-center text-xs lg:text-xl uppercase rounded-full py-1 lg:py-2 lg:px-11 min-w-[76px] transition-all change-resize change-resize-in active">in</li>
                <li class="cursor-pointer text-center text-xs lg:text-xl uppercase rounded-full py-1 lg:py-2 lg:px-11 min-w-[76px] transition-all change-resize change-resize-cm">cm</li>
              </ul>
              <table tabindex="0" class="w-full text-center">
                <thead>
                  <tr>
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="col">{{ 'products.product.size_guide_popup.size' | t }}</th>
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="col">{{ 'products.product.size_guide_popup.length' | t }}</th>
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="col">{{ 'products.product.size_guide_popup.width' | t }}</th>
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="col">{{ 'products.product.size_guide_popup.sleeve' | t }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="odd:bg-[#F2F2F2]">
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="row">s</th>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="27">27</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="20">20</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="33.5">33.5</td>
                  </tr>
                  <tr class="odd:bg-[#F2F2F2]">
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="row">m</th>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="28">28</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="22">22</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="34.5">34.5</td>

                  </tr>
                  <tr class="odd:bg-[#F2F2F2]">
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="row">l</th>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="29">29</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="24">24</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="35.5">35.5</td>

                  </tr>
                  <tr class="odd:bg-[#F2F2F2]">
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="row">xl</th>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="30">30</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="26">26</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="36.5">36.5</td>

                  </tr>
                  <tr class="odd:bg-[#F2F2F2]">
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="row">xxl</th>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="31">31</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="28">28</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="37.5">37.5</td>

                  </tr>
                  <tr class="odd:bg-[#F2F2F2]">
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="row">3xl</th>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="32">32</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="30">30</td> 
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="38.5">38.5</td> 
                  </tr>
                  <tr class="odd:bg-[#F2F2F2]">
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="row">4xl</th>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="33">33</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="32">32</td> 
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="39.5">39.5</td> 
                  </tr>
                  <tr class="odd:bg-[#F2F2F2]">
                    <th class="text-sm font-bold w-1/4 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="row">5xl</th>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="34">34</td>
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="34">34</td> 
                    <td class="font-montserrat w-1/4 text-xs lg:text-sm text-subtext" class="size-data" data-in="40.5">40.5</td> 
                  </tr>
                </tbody>
              </table>
            </caculator-size>
          </div>
          <div class="tab-detail hidden py-6" data-id="{{ section.id }}-pillow">
            <caculator-size class="block pb-10 border-b border-border mb-4" data-unit="in">
              <ul class="size-unit flex text-center bg-border-secondary w-fit mx-auto rounded-full mt-4 mb-8 lg:mt-6 lg:mb-10 overflow-hidden">
                <li class="cursor-pointer text-center text-xs lg:text-xl uppercase rounded-full py-1 lg:py-2 lg:px-11 min-w-[76px] transition-all change-resize change-resize-in active">in</li>
                <li class="cursor-pointer text-center text-xs lg:text-xl uppercase rounded-full py-1 lg:py-2 lg:px-11 min-w-[76px] transition-all change-resize change-resize-cm">cm</li>
              </ul>
              <table tabindex="0" class="w-full text-center">
                <thead>
                  <tr>
                    <th class="text-sm font-bold w-1/5 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="col">{{ 'products.product.size_guide_popup.size' | t }}</th>
                    <th class="text-sm font-bold w-1/5 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="col">width</th>
                    <th class="text-sm font-bold w-1/5 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="col">length</th>
                    <th class="text-sm font-bold w-1/5 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="col">depth</th>
                    <th class="text-sm font-bold w-1/5 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="col">zipper length</th>

                  </tr>
                </thead>
                <tbody>
                  <tr class="odd:bg-[#F2F2F2]">
                    <th class="text-sm font-bold w-1/5 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="row">18″×18″</th>
                    <td class="font-montserrat w-1/5 text-xs lg:text-sm text-subtext" class="size-data" data-in="17.75">17.75</td>
                    <td class="font-montserrat w-1/5 text-xs lg:text-sm text-subtext" class="size-data" data-in="17.75">17.75</td>
                    <td class="font-montserrat w-1/5 text-xs lg:text-sm text-subtext" class="size-data" data-in="4.875">4.875</td>
                    <td class="font-montserrat w-1/5 text-xs lg:text-sm text-subtext" class="size-data" data-in="15.375">15.375</td>
                  </tr>
                  <tr class="odd:bg-[#F2F2F2]">
                    <th class="text-sm font-bold w-1/5 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="row">20″×12″</th>
                    <td class="font-montserrat w-1/5 text-xs lg:text-sm text-subtext" class="size-data" data-in="19.75">19.75</td>
                    <td class="font-montserrat w-1/5 text-xs lg:text-sm text-subtext" class="size-data" data-in="11.75">11.75</td>
                    <td class="font-montserrat w-1/5 text-xs lg:text-sm text-subtext" class="size-data" data-in="4.875">4.875</td>
                    <td class="font-montserrat w-1/5 text-xs lg:text-sm text-subtext" class="size-data" data-in="16.875">16.875</td>
                  </tr>
                  <tr class="odd:bg-[#F2F2F2]">
                    <th class="text-sm font-bold w-1/5 lg:text-base py-2.5 text-text font-montserrat uppercase" scope="row">22″×22″</th>
                    <td class="font-montserrat w-1/5 text-xs lg:text-sm text-subtext" class="size-data" data-in="22">22</td>
                    <td class="font-montserrat w-1/5 text-xs lg:text-sm text-subtext" class="size-data" data-in="22">22</td>
                    <td class="font-montserrat w-1/5 text-xs lg:text-sm text-subtext" class="size-data" data-in="6.125">6.125</td>
                    <td class="font-montserrat w-1/5 text-xs lg:text-sm text-subtext" class="size-data" data-in="18.875">18.875</td>
                  </tr>
                </tbody>
              </table>
            </caculator-size>
          </div>
        </tabs-component>
      </div>
    </div>
  </div>
</modal-dialog>