<link rel="stylesheet" href="{{ 'drop-caps.css' | asset_url }}" />

{%- style -%}
  [data-section-id="{{ section.id }}"] {
    padding-top: {{ section.settings.padding_top_mb }}px;
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
  }
  @media(min-width:1024px) {
    [data-section-id="{{ section.id }}"] {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-width page-content">
  {{ page.content }}
</div>

{% capture src_url %}{{ 'drop-caps.js' | asset_url }}{% endcapture %}
{% render 'atom_script', src: src_url, priority: 'normal', type: "defer" %}
{% schema %}
  {
    "name": "Template page",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "Common settings"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 50,
        "max": 150,
        "step": 1,
        "unit": "px",
        "label": "Padding Top DeskTop",
        "default": 64
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 50,
        "max": 150,
        "step": 1,
        "unit": "px",
        "label": "Padding Bottom Desktop",
        "default": 92
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "range",
        "id": "padding_top_mb",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Top Mobile",
        "default": 32
      },
      {
        "type": "range",
        "id": "padding_bottom_mb",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Bottom Mobile",
        "default": 32
      }
    ]
  }
{% endschema %}