{%- style -%}
  [data-section-id="{{ section.id }}"] {
    background: {{ section.settings.background_color }};
    padding-top: {{ section.settings.padding_top_mb }}px;
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
  }
  @media screen and (min-width: 1024px) {
    [data-section-id="{{ section.id }}"] {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<wishlist-wrapper class="block page-width-desktop" data-section-id="{{ section.id }}">
  <div class="grid gap-0.5 md:gap-2.5 grid-cols-{{ section.settings.product_per_row_mobile }} md:grid-cols-{{ section.settings.product_per_row_tablet }} lg:grid-cols-{{ section.settings.product_per_row }}" id="whislist-wrapper">

  </div>
  <modal-opener data-id="#PopupModal-ClearWishlist" class="flex items-center justify-center gap-2 text-sm lg:text-base text-grey-900 cursor-pointer mt-8 hidden">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" fill="none"><path fill="#000" d="M20.375 3H16.25v-.75C16.25 1.01 15.24 0 14 0h-3C9.76 0 8.75 1.01 8.75 2.25V3H4.625A1.877 1.877 0 0 0 2.75 4.875V7.5c0 .414.336.75.75.75h.41l.648 13.607A2.247 2.247 0 0 0 6.805 24h11.39c1.203 0 2.19-.941 2.247-2.143L21.09 8.25h.41a.75.75 0 0 0 .75-.75V4.875A1.877 1.877 0 0 0 20.375 3ZM10.25 2.25A.75.75 0 0 1 11 1.5h3a.75.75 0 0 1 .75.75V3h-4.5v-.75Zm-6 2.625c0-.207.168-.375.375-.375h15.75c.207 0 .375.168.375.375V6.75H4.25V4.875Zm14.694 16.91a.75.75 0 0 1-.75.715H6.806a.749.749 0 0 1-.749-.714L5.412 8.25h14.176l-.644 13.536Z"/><path fill="#000" d="M12.5 21a.75.75 0 0 0 .75-.75V10.5a.75.75 0 0 0-1.5 0v9.75c0 .414.336.75.75.75ZM16.25 21a.75.75 0 0 0 .75-.75V10.5a.75.75 0 0 0-1.5 0v9.75c0 .414.336.75.75.75ZM8.75 21a.75.75 0 0 0 .75-.75V10.5a.75.75 0 0 0-1.5 0v9.75c0 .414.336.75.75.75Z"/></svg>
    <span>{{ "app_wishlist-king.general.clear_wishlist" | t }}</span>
  </modal-opener>
</wishlist-wrapper>

<modal-dialog id="PopupModal-ClearWishlist" class="hidden fixed w-full h-full bg-black bg-opacity-20 top-0 left-0 z-20">
  <div class="text-center px-11 py-6 shadow-popup w-87.75 bg-background rounded-sm max-w-full absolute top-1/2 left-1/2 z-30 -translate-x-1/2 -translate-y-1/2">
    <h3 class="mb-2 text-base uppercase font-semibold leading-5 font-heading">{{ "app_wishlist-king.general.clear_wishlist_title" | t }}</h3>
    <p class="text-sm text-grey-500 mb-6">{{ "app_wishlist-king.general.clear_wishlist_subtitle" | t }}</p>
    <wishlist-clear class="btn btn-2 close w-full font-heading border hover:border-grey-250 border-grey-50 p-1 mb-2 cursor-pointer">{{ "app_wishlist-king.general.remove" | t }}</wishlist-clear>
    <button class="btn close w-full font-heading border border-grey-250 hover:border-grey-50 p-1">{{ "app_wishlist-king.general.cancel" | t }}</button>
  </div>
</modal-dialog>
{% capture src_url %}{{ 'template-wishlist.js' | asset_url }}{% endcapture %}
{% render 'atom_script', src: src_url, priority: 'normal', type: "defer" %}

{% schema %}
  {
    "name": "Template wishlist",
    "tag": "section",
    "settings": [
      {
        "type": "range",
        "id": "product_per_row",
        "label": "Products per row desktop",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 4
      },
      {
        "type": "range",
        "id": "product_per_row_tablet",
        "label": "Products per row tablet",
        "min": 1,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "product_per_row_mobile",
        "label": "Products per row mobile",
        "min": 1,
        "max": 3,
        "step": 1,
        "default": 2
      },
      {
        "type": "header",
        "content": "Common settings"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 50,
        "max": 150,
        "step": 1,
        "unit": "px",
        "label": "Padding Top DeskTop",
        "default": 64
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 50,
        "max": 150,
        "step": 1,
        "unit": "px",
        "label": "Padding Bottom Desktop",
        "default": 92
      },
      {
        "type": "header",
        "content": "Mobile settings"
      },
      {
        "type": "range",
        "id": "padding_top_mb",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Top Mobile",
        "default": 32
      },
      {
        "type": "range",
        "id": "padding_bottom_mb",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Padding Bottom Mobile",
        "default": 32
      }
    ]
  }
{% endschema %}