{%- if product and product != empty -%}
  <div class="card-wrapper product-card-wrapper" data-handle="{{ product.handle }}">
    {%- if product.featured_media -%}
      <a href="{{ product.url | within: collection }}"
        class="relative block group overflow-hidden"
        title="{{ product.title }}"
        style="border-radius: {{ settings.card_radius }}px;">
        <img
          srcset="
        {%- if product.featured_media.width >= 165 -%}
          {{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
        {%- if product.featured_media.width >= 360 -%}
          {{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
        {%- if product.featured_media.width >= 533 -%}
          {{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
        {%- if product.featured_media.width >= 720 -%}
          {{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
        {%- if product.featured_media.width >= 940 -%}
          {{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
        {%- if product.featured_media.width >= 1066 -%}
          {{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}"
        src="{{ product.featured_media | image_url: width: 533 }}"
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
        alt="{{ product.featured_media | split: "/" | last | replace: "-", " " | split: "." | first }}"
        class="block group-hover:scale-105 transition-all w-full"
        {% unless lazy_load == false %}
        loading="lazy"
        {% endunless %}
        width="{{ product.featured_media.width }}"
        height="{{ product.featured_media.height }}">

        <wishlist-button class="absolute bottom-2.5 right-2.5 flex justify-center items-center border border-primary bg-background text-primary w-8 h-8 lg:w-10 lg:h-10 rounded-full overflow-hidden cursor-pointer" data-product-handle="{{ product.handle }}">
          {% render 'icon-heart', class: "w-4 h-4 lg:w-5 lg:h-5" %}
        </wishlist-button>

        {% render 'product-badges', product: product, collection: collections %}
      </a>
    {%- endif -%}
    <div class="mt-2.5">
      <a href="{{ product.url | within: collection }}" class="flex justify-center items-center text-sm lg:text-base p-2 rounded-3xl btn max-w-[180px] mx-auto shadow-button" rel="nofollow">Customize</a>

      <h3 class="mt-3">
        <a href="{{ product.url | within: collection }}" class="text-sm md:text-base font-medium leading-6 text-secondary tracking-[0] truncate-line two-lines overflow-hidden">{{ product.title | escape }}</a>
      </h3>
      <div class="flex items-center justify-between gap-1 mt-2.5">
        <span class="block capitalize text-xxs lg:text-xs leading-5 lg:leading-6 px-3 lg:px-4 text-black bg-primary-opacity-20 rounded-3xl">{{ product.type }}</span>
        {% render 'price', product: product, use_variant: true %}
      </div>
    </div>
  </div>
{%- else -%}
  <div class="card-wrapper product-card-wrapper">
    <div class="relative block group overflow-hidden">
      {%- if placeholder_image -%}
        {{ placeholder_image | placeholder_svg_tag: 'block group-hover:scale-105 w-full h-fit transition-all' }}
      {%- else -%}
        {{ 'product-apparel-2' | placeholder_svg_tag: 'block group-hover:scale-105 w-full h-fit transition-all' }}
      {%- endif -%}
    </div>
    <div class="mt-2.5">
      <a class="flex justify-center items-center p-2 rounded-3xl btn" rel="nofollow">Customize</a>

      <h3 class="mt-3">
        <a
          role="link"
          aria-disabled="true"
          class="text-sm md:text-base font-medium leading-6 text-secondary tracking-[0] truncate-line two-lines overflow-hidden">
          {{ 'onboarding.product_title' | t }}
        </a>
      </h3>
      <div class="flex items-center justify-between gap-1 mt-2.5">
        <span class="block capitalize text-xxs lg:text-xs leading-5 lg:leading-6 px-3 lg:px-4 text-black bg-primary-opacity-20 rounded-3xl">{{ 'products.product.product_type' | t }}</span>
        {% render 'price' %}
      </div>
    </div>
  </div>
{%- endif -%}