{%- style -%}
  [data-section-id="{{ section.id }}"] {
    background-color: {{ section.settings.background_color }};
    color: {{ section.settings.color_text_breadcrumb }};
    padding-top: {{ section.settings.padding_top_mb }}px;
    padding-bottom: {{ section.settings.padding_bottom_mb }}px;
  }
  [data-section-id="{{ section.id }}"] a,
  [data-section-id="{{ section.id }}"] svg {
    color: {{ section.settings.color_text_breadcrumb_link }};
  }
  [data-section-id="{{ section.id }}"] a:hover {
    color: {{ section.settings.color_text_breadcrumb_link_hover }};
  }
  @media screen and (min-width: 768px) {
    [data-section-id="{{ section.id }}"] {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
<div data-section-id="{{ section.id }}" class="page-width overflow-hidden">
  <ul class="flex items-center gap-4 overflow-x-auto slider-mobile">
    <li class="flex items-center gap-4 text-xs leading-none">
      <a href="{{ routes.root_url }}" class="whitespace-nowrap" title="{{ 'general.breadcrumbs.home' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
      {% render 'icon-chevron-right' %}
    </li>
    {% if template contains 'product' %}
      {%- assign breadcrumbs_linklist = linklists['breadcrumbs-product'] -%}
      {%- assign product_type_link = nil -%}
    
      {%- for link in breadcrumbs_linklist.links -%}
        {%- assign link_title = link.title | downcase -%}
        {%- assign product_type = product.type | downcase -%}
        {%- if product_type != blank and link_title contains product_type -%}
          {%- assign product_type_link = link -%}
        {%- endif -%}
      {%- endfor -%}
      {%- if product_type_link != nil -%}
        <li class="flex items-center gap-4 text-xs leading-none">
          <a class="whitespace-nowrap" href="{{ product_type_link.url }}">{{ product_type_link.title }}</a>
          {% render 'icon-chevron-right' %}
        </li>
      {%- endif -%}
      <li class="flex items-center gap-4 text-xs leading-none"><span class="whitespace-nowrap">{{ product.title }}</span></li>
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [
            {
              "@type": "ListItem",
              "position": 1,
              "name": "Home",
              "item": "{{ shop.url | append: '/' }}"
            },
            {% if product_type_link != nil %}
              {
                "@type": "ListItem",
                "position": 2,
                "name": "{{ product_type_link.title }}",
                "item": "{{ product_type_link.url | prepend: shop.url }}"
              },
              {
                "@type": "ListItem",
                "position": 3,
                "name": "{{ product.title }}",
                "item": "{{ product.url | prepend: shop.url }}"
              }
            {%- else -%}
              {
                "@type": "ListItem",
                "position": 2,
                "name": "{{ product.title }}",
                "item": "{{ product.url | prepend: shop.url }}"
              }
            {% endif %}
          ]
        }
      </script>
    {% elsif template == 'cart' %}
      <li class="flex items-center gap-4 text-xs leading-none">
        <span class="whitespace-nowrap">{{ 'cart.general.title' | t }}
        </span>
      </li>
    {% elsif template contains 'collection' and collection.handle %}
      {%- assign breadcrumbs_linklist = linklists['breadcrumbs-collection'] -%}
      {%- assign grandparent_collection = nil -%}
      {%- assign parent_collection = nil -%}
      {%- assign current_link = collection -%}
      {%- for link in breadcrumbs_linklist.links -%}
        {%- if link.links.size > 0 -%}
          {%- for child_link in link.links -%}
            {%- if child_link.url == collection.url -%}
              {%- assign parent_collection = link -%}
              {%- assign current_link = child_link -%}
            {% elsif child_link.links.size > 0 %}
              {%- for lastLink in child_link.links -%}
                {%- if lastLink.url == collection.url -%}
                  {%- assign grandparent_collection = link -%}
                  {%- assign parent_collection = child_link -%}
                  {%- assign current_link = lastLink -%}
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      {%- endfor -%}
      {%- if grandparent_collection != nil -%}
        <li class="flex items-center gap-4 text-xs leading-none">
          <a class="whitespace-nowrap" href="{{ grandparent_collection.url }}">{{- grandparent_collection.title -}}</a>
          {% render 'icon-chevron-right' %}
        </li>
      {%- endif -%}
      {%- if parent_collection != nil -%}
        <li class="flex items-center gap-4 text-xs leading-none">
          <a class="whitespace-nowrap" href="{{ parent_collection.url }}">{{- parent_collection.title -}}</a>
          {% render 'icon-chevron-right' %}
        </li>
      {%- endif -%}
      {% if current_tags %}
        {% capture url %}/collections/{{ collection.handle }}
        {% endcapture %}
        <li class="flex items-center gap-4 text-xs leading-none">{{ current_link.title | link_to: url }}
          {% render 'icon-chevron-right' %}
        </li>
        <li class="flex items-center gap-4 text-xs leading-none">
          <span class="whitespace-nowrap">{{ current_tags | join: " + " }}
          </span>
        </li>
      {% else %}
        <li class="flex items-center gap-4 text-xs leading-none">
          <span class="whitespace-nowrap">{{ current_link.title }}
          </span>
        </li>
      {% endif %}

      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [
            {
              "@type": "ListItem",
              "position": 1,
              "name": "Home",
              "item": "{{ shop.url | append: '/' }}"
            },
            {% if grandparent_collection != nil %}
              {
                "@type": "ListItem",
                "position": 2,
                "name": "{{ grandparent_collection.title }}",
                "item": "{{ grandparent_collection.url | prepend: shop.url }}"
              },
              {
                "@type": "ListItem",
                "position": 3,
                "name": "{{ parent_collection.title }}",
                "item": "{{ parent_collection.url | prepend: shop.url }}"
              },
              {
                "@type": "ListItem",
                "position": 4,
                "name": "{{ collection.title }}",
                "item": "{{ collection.url | prepend: shop.url }}"
              }
            {% else %}
              {% if parent_collection != nil %}
                {
                  "@type": "ListItem",
                  "position": 2,
                  "name": "{{ parent_collection.title }}",
                  "item": "{{ parent_collection.url | prepend: shop.url }}"
                },
                {
                  "@type": "ListItem",
                  "position": 3,
                  "name": "{{ collection.title }}",
                  "item": "{{ collection.url | prepend: shop.url }}"
                }
              {%- else -%}
                {
                  "@type": "ListItem",
                  "position": 2,
                  "name": "{{ collection.title }}",
                  "item": "{{ collection.url | prepend: shop.url }}"
                }
              {% endif %}
            {% endif %}
          ]
        }
      </script>
    {% elsif template == 'blog' %}
      {% if current_tags %}
        <li class="flex items-center gap-4 text-xs leading-none">{{ blog.title | link_to: blog.url }}
          {% render 'icon-chevron-right' %}
        </li>
        <li class="flex items-center gap-4 text-xs leading-none">
          <span>{{ current_tags | join: " + " }}</span>
        </li>
      {% else %}
          <li class="flex items-center gap-4 text-xs leading-none">
            <span class="whitespace-nowrap">{{ blog.title }}</span>
          </li>
      {% endif %}
    {% elsif template == 'article' %}
      <li class="flex items-center gap-4 text-xs leading-none">{{ blog.title | link_to: blog.url }}
        {% render 'icon-chevron-right' %}
      </li>
      <li class="flex items-center gap-4 text-xs leading-none">
        <span>{{ article.title }}</span>
      </li>
    {% elsif template contains 'page' %}
      <li class="flex items-center gap-4 text-xs leading-none">
        <span class="whitespace-nowrap">{{ page.title }}</span>
      </li> 
    {% elsif template contains 'search' %}
      <li class="flex items-center gap-4 text-xs leading-none">
        <span class="whitespace-nowrap">{{ 'general.search.title' | t }}</span>
      </li>
    {% else %}
      <li class="flex items-center gap-4 text-xs leading-none">
        <span class="whitespace-nowrap">{{ page_title }}</span>
      </li>
    {% endif %}
  </ul>
</div>
{% schema %}
  {
    "name": "Breadcrumbs section",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color breadcrumbs",
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "id": "color_text_breadcrumb_link",
        "label": "Color text link breadcrumbs",
        "default": "#808080"
      },
      {
        "type": "color",
        "id": "color_text_breadcrumb_link_hover",
        "label": "Color text link breadcrumbs",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "color_text_breadcrumb",
        "label": "Color text breadcrumbs",
        "default": "#000000"
      },
      {
        "type": "header",
        "content": "Padding desktop"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 32
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 8
      },
      {
        "type": "header",
        "content": "Padding mobile"
      },
      {
        "type": "range",
        "id": "padding_top_mb",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 32
      },
      {
        "type": "range",
        "id": "padding_bottom_mb",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 8
      }
    ],
    "presets": [
      {
        "name": "Breadcrumbs section"
      }
    ]
  }
{% endschema %}